/*Estilos padroes*/
li{
    padding: 20px;
    border-bottom: none;
    font-size: 26px;
    user-select: none;
}

li :hover{
    border-bottom: 2px solid rgba(0,0,0,0.6);
}

li :focus{
    animation: change-focus-nav 2s 0ms; 
}

.navigation-mobile{
    display: none;
}


@keyframes change-focus-nav{
    from{
        border-bottom: none;
        border-bottom-color: transparent;
    }

    to{
        border-bottom: 2px solid rgba(0,0,0,0.6);
    }

}

@media (max-width:600px){
    .navigation-pc{
        display: none;
    }

    .navigation-mobile{
        display: inline;
    
    }
}



