
.card-project{
    border: 1px solid #AFB6C9;
    padding: 12px;
    transition: background-color,padding 0.5s;
}

.card-project:hover{
    padding: 5px;
    background-color: #ECF0F1;
    opacity: 0.7;
}


@media (max-width:600px){
    .title-projects{
        padding-left: 0px;
    }

    .container-general{
        display: grid;
        place-items: center;
    }

    .card-project{
        width: 8rem;
        height: 8rem;
    }

    .content-projects{
        justify-content: center;
    }

}