.container-describe-exp li{
    padding: 20px;
    border-bottom: none;
    font-size: 26px;
    user-select: none;
    text-align: center;
}


@media (max-width:996px){
    .container-describe-exp{
        padding: 0;
        width: 100%;
    }

    .container-describe-exp li{
        font-size: 22px;
    }

    .nome-exp{
        font-size: 32px;
    }

}



@media (max-width:600px){
    .title-exp{
        padding-left: 0px;
    }

    .container-title{
        display: flex;
        justify-content: center;
    }

}