.container-apresentation{
    grid-template-rows: 50vh 2vh 40vh;
}

.more-details{
    animation: more-details-view 4s 4s normal both;
    z-index: 0;
}

.subtitle-apresentation{
    animation: subtitle-view 3s 3s normal both;
}

.typing-animation{
    animation: typing 3s 0s normal both,blinkCursor 1s infinite normal;
}


.firefox-title{
    font-weight: 400;
}

@media (max-width:400px){
    .typing-animation{
        animation: typing-mobile 3s 0s normal both,blinkCursor 1s infinite normal;
        font-size: 28px;
    }

    .subtitle-apresentation{
        font-size: 24px;
        animation: subtitle-view-mobile 3s 3s normal both;
    }

    .content-modal{
        display: grid;
        place-items: center;
    }

}

@media (max-width:600px) and (min-width:401px){
    .typing-animation{
        animation: typing-kindle 3s 0s normal both,blinkCursor 1s infinite normal;
        font-size: 38px;
    }

    .subtitle-apresentation{
        font-size: 32px;
        animation: subtitle-view-kindle 3s 3s normal both;
    }

    .modal-aboutMe{
        width: 420px;

    }

    .content-modal{
        display: grid;
        place-items: center;
    }

}


@keyframes more-details-view {
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}

@keyframes subtitle-view {
    from{
        width: 0;
    }

    to{
        width: 23rem;
    }
}



@keyframes subtitle-view-kindle {
    from{
        width: 0;
    }

    to{
        width: 23rem;
    }
}

@keyframes subtitle-view-mobile{
    from{
        width: 0;
    }

    to{
        width: 15rem;
    }

}

@keyframes typing{
    from{
        width: 0;
        border-right:none;
    }

    to{
        width: 550px;
        border-right: 2px solid rgba(0,0,0,0.7);
    }
}

@keyframes typing-kindle{
    from{
        width: 0;
        border-right:none;
    }

    to{
        width: 23rem;
        border-right: 2px solid rgba(0,0,0,0.7);
    }
}

@keyframes typing-mobile{
    from{
        width: 0;
        border-right: none;
    }

    to{
        width: 17rem;
        border-right: 2px solid rgba(0,0,0,0.7);
    }
}

@keyframes  blinkCursor{
    from{
        border-right-color:rgba(0,0,0,0.7);
    }
    to{
        border-right-color:transparent; 
    }
}