.container-apresentation{
    grid-template-rows: 50vh 2vh 40vh;
}

.more-details{
    animation: more-details-view 6s 5s normal both;
}


@keyframes more-details-view {
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}

.subtitle-apresentation{
    animation: subtitle-view 4s 5s normal both;
}


@keyframes subtitle-view {
    from{
        width: 0;
    }

    to{
        width: 22rem;
    }
}

.typing-animation{
    animation: typing 4s 1s normal both,blinkCursor 1s infinite normal;
}

@keyframes typing{
    from{
        width: 0;
        border-right:none;
    }

    to{
        width: 37rem;
        border-right: 2px solid rgba(0,0,0,0.7);
    }
}

@keyframes  blinkCursor{
    from{
        border-right-color:rgba(0,0,0,0.7);
    }
    to{
        border-right-color:transparent; 
    }
}